# Ignore Python cache files
__pycache__/
*.pyc

# Ignore environment files
.env

# Python environment fiel
.venv/

# Additional README files
README[0-9]*

# Example files
_examples/

# Input and Output repositories
input_repository/
output_repository/